WPF/Connected Services/ServiceReference1/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Shared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Shared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF/MeinTollerService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfPersonenBeschreibung">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonenBeschreibung" nillable="true" type="tns:PersonenBeschreibung" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonenBeschreibung" nillable="true" type="tns:ArrayOfPersonenBeschreibung" />
  <xs:complexType name="PersonenBeschreibung">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alter" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Blutgruppe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Wohnort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isEinLanger" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonenBeschreibung" nillable="true" type="tns:PersonenBeschreibung" />
</xs:schema>