WPF/Connected Services/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF/MeinTollerService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataLayer" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF/MeinTollerService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Shared" />
  <xs:element name="getPersonen">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPersonenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataLayer" minOccurs="0" name="getPersonenResult" nillable="true" type="q1:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPersonenBeschreibung">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPersonenBeschreibungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Shared" minOccurs="0" name="getPersonenBeschreibungResult" nillable="true" type="q2:ArrayOfPersonenBeschreibung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>