WPF/Connected Services/ServiceReference1/MeinTollerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MeinTollerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF/MeinTollerService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF/MeinTollerService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF/MeinTollerService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataLayer" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF/MeinTollerService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Shared" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMeinTollerService_getPersonen_InputMessage">
    <wsdl:part name="parameters" element="tns:getPersonen" />
  </wsdl:message>
  <wsdl:message name="IMeinTollerService_getPersonen_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPersonenResponse" />
  </wsdl:message>
  <wsdl:message name="IMeinTollerService_getPersonenBeschreibung_InputMessage">
    <wsdl:part name="parameters" element="tns:getPersonenBeschreibung" />
  </wsdl:message>
  <wsdl:message name="IMeinTollerService_getPersonenBeschreibung_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPersonenBeschreibungResponse" />
  </wsdl:message>
  <wsdl:message name="IMeinTollerService_deleteById_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteById" />
  </wsdl:message>
  <wsdl:message name="IMeinTollerService_deleteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IMeinTollerService">
    <wsdl:operation name="getPersonen">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeinTollerService/getPersonen" message="tns:IMeinTollerService_getPersonen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeinTollerService/getPersonenResponse" message="tns:IMeinTollerService_getPersonen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPersonenBeschreibung">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeinTollerService/getPersonenBeschreibung" message="tns:IMeinTollerService_getPersonenBeschreibung_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeinTollerService/getPersonenBeschreibungResponse" message="tns:IMeinTollerService_getPersonenBeschreibung_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteById">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeinTollerService/deleteById" message="tns:IMeinTollerService_deleteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeinTollerService/deleteByIdResponse" message="tns:IMeinTollerService_deleteById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMeinTollerService" type="tns:IMeinTollerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPersonen">
      <soap:operation soapAction="http://tempuri.org/IMeinTollerService/getPersonen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPersonenBeschreibung">
      <soap:operation soapAction="http://tempuri.org/IMeinTollerService/getPersonenBeschreibung" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteById">
      <soap:operation soapAction="http://tempuri.org/IMeinTollerService/deleteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MeinTollerService">
    <wsdl:port name="BasicHttpBinding_IMeinTollerService" binding="tns:BasicHttpBinding_IMeinTollerService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF/MeinTollerService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>